html,
body {
  height: 100%;
}

#___gatsby {
  height: 100%;
}

#gatsby-focus-wrapper {
  height: 100%;
}

.scenario-slider-container {
  width: 100%;
  height: 100vh;
  margin-left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scenario-slider-container.select-usecase .close-btn {
  background: none;
  border: none;
  color: #ffffff;
  padding: 5px;
  position: fixed;
  right: 15px;
  top: 12px;
  font-size: 36px;
  line-height: 40px;
  cursor: pointer;
  z-index: 1;
}

.scenario-slider-container.select-scenario {
  margin-left: 180px;
  width: calc(100% - 180px);
}

.scenario-slider-container.select-scenario.select-usecase {
  display: none;
}

.scenario-slider-container .slider-content {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: none;
}

.scenario-slider-container .slider-content.active {
  display: block;
}

.scenario-slider-container .slider-content .item-image {
  height: calc(100% - 85px);
  width: 100%;
  padding: 0px 10%;
  position: fixed;
  text-align: center;
}

.scenario-slider-container .slider-content .item-image div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scenario-slider-container .slider-content .item-image img {
  cursor: pointer;
  width: 720px;
  height: calc(100% - 70px);
}

.scenario-slider-container .slider-content .item-content {
  width: 100%;
  background-color: #ffffff;
  margin-top: 0%;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  bottom: -60px;
  max-height: 130px;
}

.scenario-slider-container .slider-content .item-content h3 {
  font-size: 35px;
}

.scenario-slider-container .slider-content .item-content p {
  margin-bottom: 20px;
}

.scenario-slider-container .fullscreen {
  color: rgba(255, 255, 255, 0.8);
  position: fixed;
  right: 15px;
  top: 15px;
  font-size: 32px;
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.scenario-slider-container .fullscreen:hover {
  color: rgba(255, 255, 255, 1);
}

.scenario-slider-container.select-usecase .fullscreen {
  right: 60px;
}


.scenario-slider-container .nabtn-left {
  padding: 0px;
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  border: none;
  position: absolute;
  top: auto;
  bottom: 100px;
  left: auto;
  right: 50px;
  cursor: pointer;
  z-index: 0;
}

.scenario-slider-container .nabtn-left:hover {
  color: rgba(255, 255, 255, 1);
}

.scenario-slider-container .nabtn-left::after {
  content: "";
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  height: 60px;
  position: absolute;
  right: -2px;
  bottom: -18px;
  transform: rotate(35deg);
}

.scenario-slider-container .nabtn-right {
  padding: 0px;
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  border: none;
  position: absolute;
  top: auto;
  bottom: 68px;
  right: 18px;
  cursor: pointer;
  z-index: 0;
}

.scenario-slider-container .nabtn-right:hover {
  color: rgba(255, 255, 255, 1);
}

.scenario-slider-container .pager {
  position: fixed;
  left: 0;
  bottom: 90px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scenario-slider-container .pager .pager-item {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.scenario-slider-container .pager .pager-item.active {
  background-color: rgba(255, 255, 255, 1);
}

.scenario-slider-container .pager .pager-item::after {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
}

.scenario-slider-container .pager .pager-item.active::after {
  background-color: rgba(255, 255, 255, 1);
}

.more-details-content {
  background-position: top left;
  background-attachment: fixed;
  background-Repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  position: fixed;
  left: 0px;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 0;
}

.more-details-content .details-content-inner {
  display: block;
  padding: 100px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.more-details-content .details-content-inner h3,
.more-details-content .details-content-inner p {
  color: #ffffff;
}

.more-details-content .details-content-inner .image {
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 30px;
}

.more-details-content .details-content-inner .close-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 48px;
  line-height: 60px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
}

.scenario-select-container .scenario-btn {
  margin: 0;
  position: fixed;
  left: 30px;
  top: 50px;
  z-index: 1;
}

.scenario-select-container .select-scenario-left {
  background-color: #3366cc;
  width: 0px;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 11;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scenario-select-container.active .select-scenario-left {
  width: 180px;
}

.scenario-select-container.active.active-usecase {
  display: none;
}

.scenario-select-container .select-scenario-left .close-btn {
  background: none;
  border: none;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.scenario-select-container .scenario-container {
  height: 100%;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scenario-select-container.active .scenario-container {
  width: 100%;
}

.scenario-select-container.active.active-usecase .scenario-container {
  width: 0%;
}

.scenario-select-container .scenarioleft-scrollbars {
  margin-top: 50px;
  height: calc(100% - 50px) !important;
}

.scenario-select-container .select-scenario-left ul {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.scenario-select-container .select-scenario-left ul li {
  width: 100%;
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.scenario-select-container .select-scenario-left ul li .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scenario-select-container .select-scenario-left ul li .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ffffff;
  overflow: hidden;
  border: 3px solid #ffffff;
}

.scenario-select-container .select-scenario-left ul li .item:hover .image,
.scenario-select-container .select-scenario-left ul li .item.active .image {
  border: 3px solid #eb1ff9;
}

.scenario-select-container .select-scenario-left ul li .image img {
  width: auto;
}

.scenario-select-container .select-scenario-left ul li .name {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.scenario-select-container .sub-scenario-container {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  padding: 0px;
  margin-left: 0px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scenario-select-container.active .sub-scenario-container {
  width: calc(100% - 180px);
  padding: 60px 60px 0px;
  margin-left: 180px;
  opacity: 1;
}

.scenario-select-container.active.active-usecase .sub-scenario-container {
  width: calc(100% - 0px);
  padding: 0px 0px 0px;
  margin-left: 0px;
  opacity: 0;
}

.scenario-select-container .select-scenario-left .sub-scenario-container ul {
  justify-content: start;
}

.scenario-select-container .select-scenario-left .sub-scenario-container ul li {
  width: 25%;
  margin-bottom: 60px;
}

.scenario-select-container .select-scenario-left .sub-scenario-container ul li .image {
  border: 3px solid #ffffff;
  background-color: #dcdcdc;
}

.scenario-select-container .select-scenario-left .sub-scenario-container ul li:hover .image {
  border: 3px solid #eb1ff9;
}

@media (max-width: 767px) {
  .scenario-select-container .scenario-btn {
    left: 15px;
    top: 15px;
  }

  .scenario-select-container.active .sub-scenario-container {
    padding: 60px 15px 0px;
  }

  .scenario-select-container .select-scenario-left .sub-scenario-container ul li {
    width: 100%;
  }

  .scenario-slider-container .slider-content .item-image img {
    width: 100%;
  }

  .scenario-slider-container .slider-content .item-content h3 {
    margin-bottom: 0px;
  }

  .float-right.more-details-btn {
    float: none;
  }


}