body.no-scroll {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    direction: ltr;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body.no-scroll::-webkit-scrollbar {
    display: none;
}

span.Collapsible__trigger.is-closed,
span.Collapsible__trigger.is-open {
    background: #f0f0f0;
    color: #000;
    padding: 0.3rem 0rem;
}

.Collapsible {
    padding: 0.3rem 1.5rem;
    margin: .9rem 0rem;
    background: #f0f0f0;
}

.sub-drop {
    padding: .9rem 1rem;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
}

.sub-title {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 10px;
    background: lightgray;
    padding: .2rem 0rem 0.5rem 1rem;
}

.sub-drop a {
    font-size: 1rem;
    font-weight: 500;
    margin-top: .7rem;
    color: rgba(0, 0, 0, 0.7);
}


@media(min-width: 1024px) {
    .navbar.desktop {
        display: block;
        border-bottom: 1px solid #f9f3f3;
    }

    .navbar.mobile {
        display: none;
    }

    .navbar>.container {
        position: static;
    }

    #navMenu {
        display: block;
    }

    .desktop .flex-menu {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding-left: 3rem;
    }

    .desktop .navbar-nav .navbar-item {
        display: inline-block;
        padding: 0.9rem 0.75rem;
        position: static;
    }

    .desktop .navbar-nav .navbar-item .navbar-link {
        color: #212529;
        padding-right: 0.75rem;
    }

    .desktop .navbar-nav .navbar-item .navbar-link:hover {
        color: #0062ff;
        background-color: transparent !important;
    }

    .desktop .navbar-nav .navbar-item .navbar-link:not(.is-arrowless):after {
        display: none;
    }

    .desktop .navbar-nav .navbar-item>.navbar-link:before {
        display: none;
        content: "";
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        background-color: #0062ff;
        bottom: -12px;
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .desktop .navbar-nav .navbar-item>.navbar-link:hover:before,
    .desktop .navbar-nav .navbar-item:hover>.navbar-link:before {
        display: block;
    }

    .desktop .navbar-nav .navbar-item.dropdown>.navbar-link {
        position: relative;
        padding-right: 2.5em;
    }

    .desktop .navbar-nav .navbar-item.dropdown>.navbar-link::after {
        border: 3px solid transparent;
        border-radius: 2px;
        border-right: 0;
        border-top: 0;
        border-color: #323232;
        margin-top: -0.325em;
        right: 1.125em;
        content: " ";
        display: block;
        height: 0.625em;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        width: 0.625em;
    }

    .desktop .navbar-nav .navbar-item.dropdown:hover>.navbar-link::after,
    .desktop .navbar-nav .navbar-item.dropdown>.navbar-link:hover::after {
        border-color: #0062ff;
    }

    .desktop .navbar-nav .navbar-item.dropdown:hover>.navbar-link {
        color: #0062ff;
    }

    .desktop .navbar-nav .navbar-item.dropdown .main-sub-menu {
        opacity: 0;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        padding: 0;
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-top: 1px solid #f9f3f3;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .desktop .navbar-nav .navbar-item.dropdown .main-sub-menu::before {
        border-top: 1px solid #f9f3f3;
    }

    .desktop .navbar-nav .navbar-item.dropdown.active .main-sub-menu {
        opacity: 1;
        height: 90vh;
    }

    .desktop .main-sub-menu .btn-close {
        z-index: 10;
        position: absolute;
        bottom: 30px;
        left: 48%;
        width: 36px;
        height: 36px;
        cursor: pointer;
        color: rgb(33, 37, 41);
        font-size: 32px;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

    .desktop .navbar-nav .navbar-item .default-active {
        position: static;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #f9f3f3;
        padding: 20px 0;
        width: 22%;
        height: 100%;
        top: 0rem;
        z-index: 0;
    }

    .desktop .navbar-nav .navbar-item .default-active>li {
        padding-left: 20px;
        padding-right: 20px;
    }

    .desktop .navbar-nav .navbar-item .default-active>li>a {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: .5rem;
    }

    .desktop .navbar-nav .navbar-item .default-active>li.active>a,
    .desktop .navbar-nav .navbar-item .default-active>li:hover>a,
    .desktop .navbar-nav .navbar-item .default-active>li>a:hover {
        background-color: #0062ff !important;
        color: #ffffff !important;
    }

    .desktop .navbar-nav .navbar-item .default-active>li>a.current-page {
        color: #ffffff !important;
        background-color: #0062ff !important;
        border: #ffffff solid 1px !important;
        outline: #0062ff solid 1px !important;
    }

    .desktop .default-active>li>a>.sub-icon {
        float: right;
        opacity: 0;
        margin-top: 0px;
        width: 24px;
        font-size: 24px;
    }

    .desktop .default-active>li>a:hover>.sub-icon {
        opacity: 1;
    }

    .desktop .default-active li.active .sub-menu {
        opacity: 1;
        display: block;
    }

    .desktop .navbar-nav .navbar-item .sub-menu {
        position: absolute;
        left: 22%;
        top: 0;
        margin: 0;
        padding: 10px 12px;
        width: calc(100% - 22%);
        height: auto;
        opacity: 0;
        height: 100%;
        padding: 20px 0;
        display: none;
    }

    .desktop .navbar-nav .navbar-item .sub-menu li {
        padding-left: 20px;
        padding-right: 20px;
    }

    .desktop .navbar-nav .navbar-item .sub-menu li a {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: .5rem;
        color: #0062ff;
    }

    .desktop .navbar-nav .navbar-item .sub-menu li a:hover {
        text-decoration: underline;
    }

}

@media(max-width: 1023px) {
    .navbar.desktop {
        display: none;
    }

    .navbar.mobile {
        display: block;
    }

    .navbar.mobile .flex-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar.mobile .navbar-brand {
        align-items: center;
    }

    .navbar-burger {
        position: relative;
        z-index: 1;

    }

    .navbar-burger.is-active {
        display: none;
    }

    .navbar.mobile .navbar-bg {
        display: none;
        position: fixed;
        left: 0%;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar.mobile .navbar-bg.is-active {
        display: block;
    }

    .navbar.mobile .navbar-menu {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        -webkit-transition: all .5s cubic-bezier(.2, 1, .2, 1);
        transition: all .5s cubic-bezier(.2, 1, .2, 1);
        position: fixed;
        right: -100%;
        top: 0;
        width: 50%;
        height: calc(100% - 0px);
        padding-top: 0;
        padding-bottom: 0px;
        overflow-y: auto;
        display: block;
        opacity: 0;
    }

    .navbar.mobile .navbar-menu.is-active {
        opacity: 1;
        right: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .navbar-menu.is-active .navbar-burger.is-active {
        display: block;
    }

    .navbar.mobile .navbar-nav .navbar-item {
        position: relative;
    }

    .mobile .navbar-nav .navbar-item span {
        color: #4a4a4a;
        cursor: pointer;
        display: inline-block;
        height: 2.25rem;
        top: 10px;
        right: 14px;
        z-index: 1;
        position: absolute;
        width: 2.25rem;
        margin-left: auto;
        background-color: transparent;
        text-align: center;
        line-height: 28px;
        font-size: 32px;
        font-weight: 200;
    }

    .mobile .navbar-nav .navbar-item span.active {
        color: #ffffff;
    }

    .mobile .navbar-nav .navbar-item span.main-menu {
        width: 92.5%;
        text-align: right;
        padding-right: 10px;
    }


    .mobile .navbar-nav .navbar-item span::before {
        content: "+";
    }

    .mobile .navbar-nav .navbar-item span.active::before {
        content: "-";
    }

    .mobile .navbar-nav .navbar-item .navbar-link {
        color: #212529;
    }

    .mobile .navbar-nav>.navbar-item.dropdown.active>.navbar-link {
        color: rgb(255, 255, 255);
        background-color: #0062ff;
    }

    .mobile .default-active>.sub-navbar-item.active>.navbar-link {
        color: rgb(255, 255, 255);
        background-color: #0062ff;
    }

    .mobile .navbar-nav .navbar-item .navbar-link.current-page {
        color: #ffffff !important;
        background-color: #0062ff !important;
        border: #ffffff solid 1px !important;
        outline: #0062ff solid 1px !important;
    }
    .mobile .navbar-nav .navbar-item .navbar-link.current-page + span.toggle {
        color: #ffffff;
    }

    .mobile .navbar-nav .navbar-item .navbar-link:after {
        display: none;
    }

    .mobile .navbar-nav .navbar-item .main-sub-menu {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        background: none;
        border: none;
        height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
        transform: rotateX(90deg);
        transform-origin: top;
    }

    .mobile .navbar-nav .navbar-item .main-sub-menu.active {
        padding: 0.9rem 0rem 0rem;
        height: auto;
        overflow: visible;
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }

    .mobile .default-active>li {
        position: relative;
    }

    .mobile .default-active>li>a {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: .5rem;
    }

    .mobile .default-active>li>a>.sub-icon {
        display: none;
    }

    .mobile .sub-menu {
        height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
        transform: rotateX(90deg);
        transform-origin: top;
    }

    .mobile .sub-menu.active {
        padding: 0.5rem 1rem;
        margin-bottom: .5rem;
        height: auto;
        overflow: visible;
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }

    .mobile .sub-menu li a {
        position: relative;
        padding: 0.3rem 1rem;
        display: block;
    }

    .mobile .navbar-nav .navbar-item .default-active span {
        top: 3px;
    }

    .mobile .navbar-menu .navbar-start {
        border-top: 2px solid #5a5a5a;
    }
}

@media (max-width: 568px) {
    .navbar.mobile .navbar-menu {
        width: 100%;
    }
}