.mybtn {
    cursor: pointer;
    padding: inherit;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.863);
    width: 12vw;
    font-size: 1rem;
}

.mybtnactive {
    font-size: 1rem;
    cursor: pointer;
    padding: inherit;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.863);
    border-bottom: 5px solid #ffffdc;
    width: 12vw;
}

.btn-stack {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px;
    position: relative;
    top: 0rem;
}

.nabtn-left {
    padding: 0px 30px;
    background: transparent;
    color: rgba(230, 126, 34, 1);
    font-size: 45px;
    border: none;
    position: absolute;
    top: -3%;
    left: -1rem;
    cursor: pointer;
}

.nabtn-right {
    padding: 0px 30px;
    background: transparent;
    color: rgba(230, 126, 34, 1);
    font-size: 45px;
    border: none;
    position: absolute;
    right: -1rem;
    top: -3%;
    cursor: pointer;
}

.scrollBtn {
    z-index: 2;
    position: absolute;
    top: 82vh;
    color: black;
    right: 50%;
    border: none;
    font-size: 2rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #dcdcdc;
    text-align: center;
}

.scrollBtn:hover {
    transition: 0.3s;
    color: #397ba6;
    background-color: #dcdcdc;
}

.Mui-focusVisible {
    transition: 0.3s;
    color: #397ba6;
    background-color: #dcdcdc;
}

.page-heading {
    padding: 16rem 5.1rem;
    cursor: text;
    background: #aee1e1;
    color: #456268;
}

.content .slider-control-bottomcenter li {
    margin-top: 0;
}

.content .page-content {
    padding-top: 30px;
}

.slider-control-bottomcenter {
    top: 550px;
}

.slider-control-centerright,
.slider-control-centerleft {
    position: fixed !important;
    transform: translateY(0%) !important;
}

.btn-arr-down {
    position: relative;
    top: 5px;
    left: -8px;
    font-size: 1.8rem;
}

.section#top {
    padding: 0rem 1.5rem;
}

@media (max-width: 678px) {
    .page-heading {
        padding: 9rem 5.1rem;
    }

    .section#top {
        padding: 0rem 1.5rem;
    }

    .btn-stack {
        display: flex;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2px;
        position: relative;
        top: 0rem;
    }

    .scrollBtn {
        position: absolute;
        top: 130vh;
        left: 45%;
    }

    .mybtn {
        width: auto;
        font-size: 12px;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .mybtnactive {
        padding: 2px;
        width: auto;
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .slider-control-bottomcenter {
        top: 300px;
    }

    .slider .is-size-2 {
        font-size: 2rem !important;
        margin-bottom: 0;
    }

    .nabtn-left {
        padding: 0px 30px;
        background: transparent;
        color: rgba(230, 126, 34, 1);
        font-size: 45px;
        border: none;
        position: absolute;
        top: -3%;
        left: -2.3rem;
        cursor: pointer;
    }

    .nabtn-right {
        padding: 0px 30px;
        background: transparent;
        color: rgba(230, 126, 34, 1);
        font-size: 45px;
        border: none;
        position: absolute;
        right: -2.3rem;
        top: -3%;
        cursor: pointer;
    }
}

.whyus-container .whyus-banner-content {
    padding-top: 30px;
}

.whyus-container .whyus-banner-content img {
    width: 100%;
}

.whyus-container .whyus-banner-content p {
    padding-top: 20px;
}

.whyus-container .whyus-service-container h2 {
    font-size: 22px;
    line-height: 28px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.whyus-container .whyus-service-container .service-box {
    display: block;
    padding-bottom: 20px;
}

.whyus-container .whyus-service-container .service-box .image {
    display: inline-block;
    width: 25%;
    padding-bottom: 10px;
}

.whyus-container .whyus-service-container .service-box h5 {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
    display: block;
}

.whyus-container .whyus-bottom-text {
    padding-bottom: 30px;
}

.aproach-container .aproach-banner-content {
    padding-top: 30px;
}

.aproach-container .aproach-service-container {
    display: block;
    margin-bottom: 40px;
}

.aproach-container .aproach-service-container .service {
    display: block;
    width: 100%;
    margin-top: 40px;

}

.aproach-container .aproach-service-container .service .row {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.aproach-container .aproach-service-container .service .image {
    width: 100%;
}

.aproach-container .aproach-bottom-text {
    padding-bottom: 30px;
}

@media (min-width: 992px) {
    .aproach-container .aproach-service-container .service .order {
        order: 2;
    }
}

@media (max-width: 767px) {
    .aproach-container .aproach-service-container .service p {
        padding-top: 20px;
    }
}


.getting-container .getting-heading-content {
    padding-top: 30px;
    padding-bottom: 50px;
}

.getting-container .getting-heading-content h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}

.getting-container .getting-service-container .service {
    padding-bottom: 40px;
}

.getting-container .getting-service-container .service .image {
    width: 100%;
    text-align: center;
    display: block;
}

.getting-container .getting-service-container .service .image img {
    max-width: 75%;
}

.getting-container .getting-service-container .service h5 {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0;
    font-weight: 600;
}

.resources-container .image {
    padding-top: 30px;
    width: 58%;
    display: block;
}



/********************* New css ************/

.service-contaienr .banner-container .banner-left {
    width: 53%;
}

.service-contaienr .banner-container .banner-left .banner-text {
    background-color: #384cd8;
    color: #ffffff;
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
}

.service-contaienr .banner-container .banner-right {
    width: 47%;
}

.service-contaienr .banner-container .banner-right .banner-heading {
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    margin: 30px 15% 0;
}

.service-contaienr .tab-container .tabs {
    background-color: #d2d4e0;
}

.service-contaienr .tab-container .nav-tabs {
    background-color: #ffffff;
    padding: 5px 10%;
    border: none;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .service-contaienr .tab-container .nav-tabs {
        padding: 5px 2%;
    }
}

.service-contaienr .tab-container .nav-tabs .nav-link.active,
.service-contaienr .tab-container .nav-tabs .nav-link:hover {
    color: #384CD8;
}

.service-contaienr .tab-container .nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 500;
}

.service-contaienr .tab-container .nav-tabs .nav-link.active i {
    display: inline-block;
}

.service-contaienr .tab-container .nav-tabs .nav-link i {
    display: none;
}

.service-contaienr .tab-container .tab-background {
    background-color: #d2d4e0;
}

.service-contaienr .tab-container .tab-dark-background {
    background-color: #202b38;
}

.service-contaienr .tab-container .reason-header {
    color: #ffffff;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
}

.service-contaienr .tab-container .reason-box .name {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.service-contaienr .tab-container .reason-box .description {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}