.service-contaienr .banner-container .banner-left {
    width: 53%;
}

.service-contaienr .banner-container .banner-left .banner-text {
    background-color: #384cd8;
    color: #ffffff;
    font-size: 22px;
    line-height: 36px;
}

.service-contaienr .banner-container .banner-left .banner-text strong {
    color: #FFF;
}

.service-contaienr .banner-container .banner-right {
    width: 47%;
}

.service-contaienr .banner-container .banner-right .banner-heading {
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    margin: 30px 15% 0;
}

.service-contaienr .tab-container .tabs {
    background-color: #d2d4e0;
    margin-bottom: 0;
}

.service-contaienr .tab-container .nav-tabs {
    background-color: #ffffff;
    padding: 5px 10%;
    border: none;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .service-contaienr .tab-container .nav-tabs {
        padding: 5px 2%;
    }
}

.service-contaienr .tab-container .nav-tabs .nav-link.active,
.service-contaienr .tab-container .nav-tabs .nav-link:hover {
    color: #384CD8;
}

.service-contaienr .tab-container .nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 500;
}

.service-contaienr .tab-container .nav-tabs .nav-link.active i {
    display: inline-block;
}

.service-contaienr .tab-container .nav-tabs .nav-link i {
    display: none;
}

.service-contaienr .tab-container .tab-background {
    background-color: #d2d4e0;
}

.service-contaienr .tab-container .tab-dark-background {
    background-color: #202b38;
}

.service-contaienr .tab-container .reason-header {
    color: #ffffff;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
}

.service-contaienr .tab-container .reason-box .name {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.service-contaienr .tab-container .reason-box .description {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.service-contaienr .tab-container .aproach-container .header-container strong{
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700; 
    padding-bottom: 2px;
    display: block;
}
.service-contaienr .tab-container .aproach-container .header-container p{
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400; 
}
.service-contaienr .tab-container .aproach-container .actions-container .content span{
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 30px;
}
.service-contaienr .tab-container .aproach-container .actions-container .content p{
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}